<h3>Application</h3>
<div style="display: flex;flex-direction: column">
  <div  class = "row">
    
    <input type="text"  name="search" [(ngModel)]="term"  placeholder="Search..." style="margin-left: 18px;">
    <div style="padding-left: 120px">
    <button style="background-color: green;" (click)="addApplication()" >Add Application</button>
    </div>
  </div>
  <div class = "row">
    <table style="margin: 10px">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col" style="padding: 10px;">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of elements|filter:term; let i = index">
          <td style="padding: 10px;">{{item.id}}</td>
          <td style="padding: 10px;">{{item.ApplicationName}}</td>
          <td style="padding: 10px;">{{item.createDate}}</td>
          <td style="padding: 10px;">{{item.createdBy}}</td>
          <td style="padding: 10px;">{{item.modifiedDate}}</td>
          <td style="padding: 10px;">{{item.comments}}</td>
          <td>
              <i class="fa fa-times-circle" style="color: red;" (click)="delete(i)"></i>&nbsp;&nbsp;
              <button  data-toggle="modal" data-target="#comments" (click)="view(item,i)" >View</button>
                  </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
