<div>
  <h3>View & Edit Application</h3>
  <div class="row " style="padding: 10px">
    <div class="col-2">
      <label for="comment">Application Name </label>
    </div>
  
    <div class="col-6 ">
    <div class="col-12 data-select-nova comment">
      <input type="text" [(ngModel)]="appName" placeholder="Application Name"/>
    </div>
  
  </div>
  </div>
  <div style="display: flex">
    <div class="row "  style="padding: 10px">
      <div class="col-2">
        <label for="comment">Comments: </label>
      </div>
    </div>
      <div class="col-6" style="padding:18px 118px">
        <div class="col-12 data-select-nova comment">
          <textarea class="field-height" [(ngModel)]="commentsval" placeholder="Comments:"></textarea>
        </div>
      </div>
  </div>
  
  
  <div>
    <button  (click)="saveEditdata()" type="button" style="padding: 4px 13px 8px 13px; margin:10px; background: green; border-radius: 4px;"
    >Save</button>
   <button (click)="clearData()" type="button" class="btn" style="background: red;"> Clear</button>
  </div>
  
</div>
